{#
#}
<div class="page-wrapper">

    {#Header#}
    <div class="header">
        {{ page.header }}        
    </div>

    {#MenuBar#}
    <div class="menus">
        {{ page.menubar }}
    </div>

    {#Highlight#}
    <div class="highlight">
        {{ page.highlight }}
    </div>

    {#Content#}
    <div class="content">
        {{ page.content }}
    </div>

    {#BannerBottom#}
    <div class="banner">
        {{ page.banner }}
    </div>

    {#Footer Primary#}
    <div class="footerpri">
        {{ page.footerpri }}
    </div>

    {#Footer Secondary#}
    <div class="footersec">
        {{ page.footersec }}
    </div>
</div>